*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 400vh;
/*
    display: flex;
    justify-content: center;
    align-items: center;
    
*/
}

/*
h1{
    background: linear-gradient(to right,#30cdf0 0%,#330867 100%);
    background-clip: text;
    text-align: center;
    font-family: sans-serif;
    color: white;
    filter: drop-shadow(#ddcc00);
}
*/




































